#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.add-button {
  border-radius: 20px;
  border: none;
  width: 300px;
  background-color: red;
  color: yellow;
}

.minus-button {
  border-radius: 20px;
  border: none;
  width: 300px;
  background-color: red;
  color: yellow;
}

#very-first {
  font-size: 25px;
  margin-bottom: 40px;
  color: yellow;
}

#first {
   font-size: 40px;
   color: lightgray;
}

#second {
  font-size: 100px;
  color: lightskyblue;
}

#very-first, #first, #second {
  line-height: 0.5;
}

#img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}